<%- layout('layouts/main.ejs') %>
<div class="container p-5">
    <h1>HOLA BIENVEND@: <%= user.name %></h1>
    <br>
    <img src="https://portal.ingenieria.usac.edu.gt/images/logo_facultad/logo_azul.png" class="img-thumbnail mb-3"  alt="...">
</div>
